.position_relative
    position: relative

.progressbar_container
    top:0
    position: sticky
    width: 100%
    hr
        margin: 0
        height: 10px
        background: black
        max-width: 100%
    .svg_container
        display: flex
        flex-direction: column
        align-items: center
        font-size: .7em
        text-transform: uppercase
    svg
        height: .5em
        width: 100%
