$cardWidth: 15em
$cardTransitionDuration: .5s
        

.bg
    background: 
        size: cover
        position: center
        repeat: no-repeat
    font-size: 1rem
    position: relative
.bgFigure
    right: 0
    position: absolute
    height: 100%
    width: 13em
    opacity: .4
.bgFigureLeft
    display: none
    @extend .bgFigure
    top: 0
    left: 0
    transform: rotate(180deg)

.container
    transform: translateX(110%)
    transition: 
        duration: 1s
    padding: 7em 1.5em
    display:  flex
    position: relative
    flex-direction: column
    justify-content: center
    align-items: center
    .arrow
        margin: 0 .3em
        z-index: 100
        position: absolute
        width: 2em
        right: 0
        &:hover
            cursor: pointer
    .left
        display: none
        left: 0
        transform: rotate(180deg)
    .counter
        font-size: 2.5em
        color: rgba(0, 0, 0, .8)
        font-family: 'Baloo Tammudu 2', cursive
        cursor: default
//////////////////////////
.slideInRightAnimation
    transform: translateX(0)
//////////////////////////



.cards_container
    overflow: hidden
    display: flex
    justify-content: flex-start
    padding-left: 0
    margin-bottom: 1em
    width: $cardWidth

.cards_wrapper
    width: auto
    display: flex
    justify-content: center
    align-items: center
    transition-duration: $cardTransitionDuration

.card
    transition-duration: $cardTransitionDuration
    width: $cardWidth
    color: white
    display: flex
    flex-direction: column
    align-items: center
    cursor: pointer

    h1
        color: rgba(0, 0, 0, .8)
        width: 100%
        text-transform: uppercase
        font-size: 1.2em
        margin-bottom: 1em
        text-align: left

    .card_content
        padding: .5em .5em
        display: flex
        flex-direction: column
        align-items: center
        background: rgba(0,0,0,.7)
        border-radius: .5em
        > div
            width: 100%
            height: 8em
            background:
                size: contain
                position: center
                repeat: no-repeat
            margin-bottom: 1.5em

    h2
        font-size: 1.25em
        margin-bottom: 1.5em
    textarea
        border-radius: .2em
        color: white
        border: rgba(255, 255, 255, .5) 2px solid
        text-align: justify
        cursor: default
        resize: none
        text-align: justify
        height: 9em
        font-size: .8em
        width: 100%
        padding: .5em
        background: transparent
    
@media screen and ( min-width: 992px )
    .cards_container
        width: $cardWidth*3
        padding-left: $cardWidth
    .bgFigureLeft
        display: block

