.bg
    background: 
        size: cover
        position: center
        repeat: no-repeat
    font-size: 1rem
    position: relative
.bgFigure
    right: 0
    position: absolute
    height: 100%
    width: 13em
    opacity: .4
.bgFigureLeft
    @extend .bgFigure
    top: 0
    left: 0
    transform: rotate(180deg)
.container
    padding: 5em 1.5em
    display:  flex
    position: relative
    flex-direction: column
    justify-content: center
    align-items: center
    
    