@use './animations.module' as anim
    
////////////////////////////////
.grow_animation
    animation: 
        name: container
        duration: 1s
        fill-mode: forwards
@include anim.Grow($name: container)

////////////////////////////////
.bg
    background: 
        size: cover
        position: center
        repeat: no-repeat
    font-size: 1rem
    position: relative

.container
    opacity: 0
    padding: 7em 1.5em
    display:  flex
    justify-content: center


.content
    width: 100%
    height: auto
    display:  flex
    flex-direction: column
    justify-content: center
    align-items: center

.languages
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    width: 100%
    margin-bottom: 4em
    text-transform: uppercase
    .row
        width: 100%
        margin: .8em 0
        display: flex
        justify-content: space-between
        font-size: 1.5em
        height: 1.5em
        cursor: default
        svg
            height: 1em
        h1 
            display: flex
            align-items: center
            margin: 0
            font: 
                size: 1em
                family: 'Baloo Tammudu 2', cursive
    


@media screen and ( min-width:  768px)
    .content
        width: 59%